<!DOCTYPE html>
<html>
<head>
    <title>Basic Flask Website</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0; /* Change the background color here */
            color: #333;
            margin: 20px;
        }
        h1 {
            color: #0066cc;
        }
        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Python_final_Project: Basic Flask Website</h1>

    <h2>Group 2</h2>
    <h3>Members :</h3>
    <ul>
        <li>Shalu Choudhary</li>
        <li>Surbhi Sharma</li>
        <li>Neha Arya</li>
    </ul>

    <p><a href="/about">About Page</a></p>
    <p><a href="/data">Data Page</a></p>
</body>
</html>
